body {
  color: #fff;
  font-family: "open-sans-bold", AvenirNext-Medium, sans-serif;
  font-size: 18px;
}

#screen1 {
  background: black;
}

#screen1 p {
  padding-top: 200px;
  font-size: 30px;
}
section {
  height: 100vh;
}
#screen2 {
  background: #efc94d;
}

#screen3 {
  background: #e1793d;
}
