.fbIcon:hover {
  color: #3b5998;
}
.igIcon:hover {
  color: #e1306c;
}
.ytIcon:hover {
  color: #ff0000;
}
.page-link:hover {
  font-size: 1.2em;
  color: #b5f732;
}
.page-link {
  transition: 0.2s;
}

.nav-socials {
  width: 30%;
}
.nav-main {
  width: 40%;
  text-align: center;
}
.nav-right {
  width: 30%;
}
.navbar-container {
  padding: 1.5em;
  box-sizing: border-box;
}

/* This class is added on scroll */
.fixed {
  position: fixed;
  top: 0;
  height: 10%;
  z-index: 1;
}

/* Navigation Settings */
nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  background: black;
}

nav li {
  display: inline;
  padding: 0.5em;
}

nav li a {
  color: white;
  text-transform: uppercase;
  transition: 0.1s;
}
nav li a:hover {
  color: #f399f0;
}

/* Screens Settings */

@media only screen and (max-width: 520px) {
  nav li {
    padding: 24px 4px;
  }

  nav li a {
    font-size: 0.875em;
  }
}
