* {
  margin: 0;
  padding: 0;
}

.fbIcon:hover {
  color: #3b5998;
}
.igIcon:hover {
  color: #e1306c;
}
.ytIcon:hover {
  color: #ff0000;
}

.nav-socials {
  width: 30%;
}
.nav-main {
  width: 40%;
  text-align: center;
}
.nav-right {
  width: 30%;
}

/* This class is added on scroll */
.fixed {
  position: fixed;
  top: 0;
  height: 10%;
  z-index: 1;
}

/* Navigation Settings */
nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  background: black;
}

nav li {
  display: inline;
  padding: 5px 5px;
}

nav li a {
  color: white;
  text-transform: uppercase;
}

/* Screens Settings */

@media only screen and (max-width: 520px) {
  nav li {
    padding: 24px 4px;
  }

  nav li a {
    font-size: 14px;
  }
}
