@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.img-container {
  align-items: center;
  background-image: url("media/animibacon.gif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
}
button {
  z-index: 1;
  height: 10%;
  width: 10%s;
}
